<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>




<div class="row">  #第一层块
  <div class="col-md-12"> #第二层块
    <table>
      <thead>
        <tr>
          <td>商品详情</td>
          <td>单价</td>
          <td>数量</td>
        </tr>
      </thead>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      <tbody>

      </tbody>
    </table>


    <div class="">#第三层块，第一个

    </div>
    <div class="">#第三层块，第二个

    </div>

  </div>


</div>
